body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('https://www.micebo.es/data/blog/322/images/_mini/post_grd/878/pesca-deportiv.jpg?t=20220422b') no-repeat center center fixed;
  background-size: cover;
}

header {
  background-color: rgba(0, 102, 153, 0.8);
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
  
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

h2 {
  color: BLACK;
  text-align: center;
  text-transform: uppercase;
}

section {
  margin-bottom: 40px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
}

article img {
  width: 100%;
  height: auto;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

button {
  padding: 10px 20px;
  background-color: #006699;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #004d66;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

form label {
  width: 100%;
  text-align: left;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #006699;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #004d66;
}

footer {
  background-color: rgba(0, 102, 153, 0.8);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 768px) {
  article {
      width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  article {
      width: calc(100% - 20px);
  }
}
